.app-container {
  padding: 20px;
  background-color: #191414;
  min-height: 100vh;
  color: #FFFFFF;
  font-family: 'Circular Std', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  color: #1DB954;
}

.about-button {
  background-color: #1DB954;
  color: #191414;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
}

.plus-sign,
.equal-sign {
  margin: 0 20px;
  font-size: 2em;
}

/* Media queries for responsive layout */

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 10px;
  }

  .about-button {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .app-container {
    padding: 10px;
  }

  .plus-sign,
  .equal-sign {
    margin: 0 10px;
    font-size: 1.5em;
  }
}