@font-face {
    font-family: 'Circular Std';
    src: url('https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot');
    src: url('https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix') format('embedded-opentype'),
         url('https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff') format('woff'),
         url('https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf') format('truetype'),
         url('https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std') format('svg');
  }